# Name: Chum Ratanakchentria

# Basic Python Exercise
Lesson 4:

In [24]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]
print(numbers[2])

30

In [25]:
print(len(numbers))

8

In [26]:
print(len(numbers) - 1)

7

In [27]:
print(numbers[2:5])

[30, 40, 50]

In [29]:
person = {"name": "Alice", "age": 20}

In [30]:
print(person["name"])

Alice

In [31]:
person["country"] = "Cambodia"
print(person)

{'name': 'Alice', 'age': 20, 'country': 'Cambodia'}

In [32]:
people = [{"name": "Alice", "age": 20}, {"name": "Jonh", "age": 21}]

In [33]:
people[1]["age"] = 25

In [34]:
people[0]["gender"] = "Female"
people[1]["gender"] = "Male"

In [35]:
print(people)

[{'name': 'Alice', 'age': 20, 'gender': 'Female'}, {'name': 'Jonh', 'age': 25, 'gender': 'Male'}]

Give numbers = [100,2,3,4,5]

Min

Max

Average

Sum

Search index of value: 

. Example search for 100

. If found, print index of 100 ( expect index 0 )

. Not found, print “Not found”

# using looop

In [15]:
numbers = [100,2,3,4,5]

min = numbers[0]
max = numbers[0]

for num in numbers:
    if num < min:
        min = num
    if num > max:
        max = num
    total = sum(numbers)
    average = total / len(numbers)

print("Min: ", min, " Max: ", max, " sum: ", total, " Average: ", average)

Min:  2  Max:  100  sum:  114  Average:  22.8

 Search index of value: 
 
 Example search for 100
 
 If found, print index of 100 ( expect index 0 )
 
 Not found, print “Not found”

In [16]:

index_value = 1
for index in range(len(numbers)):
 if numbers[index] == 100:
  index_value = index
  break
 
if index_value == 1:
   print("Not found")
else:
   print("Found 100 at index ", index_value)

Found 100 at index  0

Execute N* number of code repeatedly

In [23]:
number = int(input("Enter the value of N:"))

for i in range(number):
    print(i+1)

1
2
3

Print shapes

Rectangle

Triangle

In [ ]:
rows = 3
cols = 5

i = 0
while i < rows:
    j = 0
    while j < cols:
        print("*", end=" ")
        j += 1
    print()
    i += 1

* * * * *
* * * * *
* * * * *

In [ ]:
height = 5

i = 1
while i <= height:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

Write a few functions to:
Add a new movie to your collection (consider using appropriate data structures).
Search for movies by title or director.
Filter movies based on genre or year of release.
Display movie information in a user-friendly format

In [ ]:
movies = [
    {
        "title": "The Shawshank Redemption",
        "director": "Frank Darabont",
        "year": 1994,
        "genre": ["Drama"]
    },
    {
        "title": "The Godfather",
        "director": "Francis Ford Coppola",
        "year": 1972,
        "genre": ["Crime", "Drama"]
    }
]

Add movie

In [ ]:
def add_movie(collection, title, director, year, genre):
    new_movie = {
        "title": title,
        "director": director,
        "year": year,
        "genre": genre
    }
    collection.append(new_movie)

In [ ]:
add_movie(movies, "Inception", "Christopher Nolan", 2025, ["Drama", "Action"])

Search movie

In [ ]:
def search_movies(collection, keyword):
    keyword = keyword.lower()
    result = []

    for m in collection:
        if keyword in m["title"].lower() or keyword in m["director"].lower():
            result.append(m)

    return result

In [14]:
search_movies(movies, "godfather")

[{'title': 'The Godfather',
  'director': 'Francis Ford Coppola',
  'year': 1972,
  'genre': ['Crime', 'Drama']}]

In [18]:
search = lambda collection, k: list(
    filter(lambda m: k.lower() in m["title"].lower() 
                    or k.lower() in m["director"].lower(), collection)
)
search(movies, "nolan")

[{'title': 'Inception',
  'director': 'Christopher Nolan',
  'year': 2025,
  'genre': ['Drama', 'Action']}]

Filter by genre or year

In [10]:
def filter_by_genre(collection, genre):
    return list(filter(lambda m: genre in m["genre"], collection))

def filter_by_year(collection, year):
    return list(filter(lambda m: m["year"] == year, collection))

In [20]:
filter_by_year(movies, 1994)

[{'title': 'The Shawshank Redemption',
  'director': 'Frank Darabont',
  'year': 1994,
  'genre': ['Drama']}]

Sort by year

In [21]:
def sort_by_year(collection):
    return sorted(collection, key=lambda m: m["year"])

In [22]:
sort_by_year(movies)

[{'title': 'The Godfather',
  'director': 'Francis Ford Coppola',
  'year': 1972,
  'genre': ['Crime', 'Drama']},
 {'title': 'The Shawshank Redemption',
  'director': 'Frank Darabont',
  'year': 1994,
  'genre': ['Drama']},
 {'title': 'Inception',
  'director': 'Christopher Nolan',
  'year': 2025,
  'genre': ['Drama', 'Action']}]

Display movie

In [11]:
def display(movie):
    print(f"{movie['title']} ({movie['year']})")
    print(f"Director: {movie['director']}")
    print(f"Genre: {', '.join(movie['genre'])}")

In [12]:
display(movies[0])

The Shawshank Redemption (1994)
Director: Frank Darabont
Genre: Drama