<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part II. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [22]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [23]:
football = pd.read_csv('./football.csv', sep = ',')
football.head(2).T

                                  0               1
Team                        Croatia  Czech Republic
Goals                             4               4
Shots on target                  13              13
Shots off target                 12              18
Shooting Accuracy             51.9%           41.9%
% Goals-to-shots              16.0%           12.9%
Total shots (inc. Blocked)       32              39
Hit Woodwork                      0               0
Penalty goals                     0               0
Penalties not scored              0               0
Headed goals                      2               0
Passes                         1076            1565
Passes completed                828            1223
Passing Accuracy              76.9%           78.1%
Touches                        1706            2358
Crosses                          60              46
Dribbles                         42              68
Corners Taken                    14              21
Tackles                          49              62
Clearances                       83              98
Interceptions                    56              37
Clearances off line             NaN             2.0
Clean Sheets                      0               1
Blocks                           10              10
Goals conceded                    3               6
Saves made                       13               9
Saves-to-shots ratio          81.3%           60.1%
Fouls Won                        41              53
Fouls Conceded                   62              73
Offsides                          2               8
Yellow Cards                      9               7
Red Cards                         0               0
Subs on                           9              11
Subs off                          9              11
Players Used                     16              19

<b>Exercise 1. Display all the attributes of the dataset.</b>

In [24]:
football.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

<b>Exercise 2. Display the <i>"Team"</i> and <i>"Goals"</i>column.</b>

In [25]:
football[["Team", "Goals"]]

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2

<b>Exercise 3. Display all the countries which joined the competition. How many countries competed in the competition?</b>

In [26]:
total_countries = football["Team"].nunique()
print(f"There are {total_countries} countries join the competition")

There are 16 countries join the competition

<b>Exercise 4. Select the <i>"Shots on target"</i>, <i>"Shots off target"and</i> <i>"Shooting Accuracy"</i> columns and assign these columns to the new dataframe "Shooting Information". Sort the list by the number of shots on target. </b>

In [27]:
shooting_information = football[[
    "Team",
    "Shots on target",
    "Shots off target",
    "Shooting Accuracy"
]].sort_values(by="Shots on target", ascending=False)

shooting_information.head()

        Team  Shots on target  Shots off target Shooting Accuracy
13     Spain               42                33             55.9%
7      Italy               34                45             43.0%
5    Germany               32                32             47.8%
4     France               22                24             37.9%
10  Portugal               22                42             34.3%

<b>Exercise 5. Display the first 5 columns and assign them into a new dataframe called "First_Five".</b>

In [28]:
the_first_5_colu = football.iloc[:, :5]
the_first_5_colu.head()

             Team  Goals  Shots on target  Shots off target Shooting Accuracy
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%

<b>Exercise 6. Display all columns except the last 4 columns.</b>

In [29]:
except_the_last_4_columns = football.iloc[:, :-4]
except_the_last_4_columns.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,NaN,0,10,3,13,81.3%,41,62,2,9
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,2.0,1,10,6,9,60.1%,53,73,8,7
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,0.0,1,10,5,10,66.7%,25,38,8,4
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,1.0,2,29,3,22,88.1%,43,45,6,5
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,0.0,1,7,5,6,54.6%,36,51,5,6

<b>Exercise 7. Sort the list of countries by the number of fouls won and then the number of fouls conceded.</b>

In [30]:
sorted_fouls = football.sort_values(
    by=["Fouls Won", "Fouls Conceded"],
    ascending=False  
)
sorted_fouls[["Team", "Fouls Won", "Fouls Conceded"]].head()

        Team  Fouls Won  Fouls Conceded
13     Spain        102              83
7      Italy        101              89
10  Portugal         73              90
6     Greece         67              48
5    Germany         63              49

<b>Exercise 8. Find the mean of Players Used in a team.

In [31]:
Mean_players_used = football["Players Used"].mean()

print(f"The mean of Players Used in a team: {Mean_players_used}")

The mean of Players Used in a team: 17.25

<b>Exercise 9. Display the list of team(s) which score(s) more than 10 goals.

In [32]:
Teams_score_more_than_10_goals= football[football["Goals"] > 10][["Team", "Goals"]]

Teams_score_more_than_10_goals

     Team  Goals
13  Spain     12

<b>Exercise 10. Display the countries which begins with letter "P"</b>

In [33]:
teams_starting_with_P= football[football["Team"].str.startswith("P")]["Team"]

teams_starting_with_P

9       Poland
10    Portugal
Name: Team, dtype: object

<b>Exercise 11. Display the <i>"Shots on target"</i>, <i>"Shots off target"and</i> <i>"Shooting Accuracy"</i> from Portugal, Germany, Sweden and England.</b>

In [34]:
countries = ["Portugal", "Germany", "Sweden", "England"]

selected_shooting = football.loc[
    football["Team"].isin(countries),
    ["Team", "Shots on target", "Shots off target", "Shooting Accuracy"]
]

selected_shooting

        Team  Shots on target  Shots off target Shooting Accuracy
3    England               11                18             50.0%
5    Germany               32                32             47.8%
10  Portugal               22                42             34.3%
14    Sweden               17                19             47.2%