<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [1]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [2]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [3]:
df = order_list
df.head(5)

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [4]:
row = df.shape[0]
print("Number of rows in the dataset is:", row)

Number of rows in the dataset is: 4622

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [5]:

print("Number of rows in the dataset is:", df.shape[1])

Number of rows in the dataset is: 5

<b>Exercise 4. Display the name of each column.</b>

In [6]:
df.columns

Index(['id', 'quantity', 'food', 'description', 'unit_price'], dtype='object')

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [7]:
print("The most ordered food item is:", df['food'].value_counts().idxmax())

The most ordered food item is: Chicken Bowl

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [8]:
most_order = df['food'].value_counts().max()
print("The highest number of orders for a single food item is:", most_order)

The highest number of orders for a single food item is: 726

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

In [9]:
print("The most ordered food item is:", df['description'].value_counts().idxmax())

The most ordered food item is: [Diet Coke]

<b>Exercise 7. How many foods ordered in total?</b>

In [10]:
Ordered_in_total = df['quantity'].sum()
print("The total quantity of food items ordered is:", Ordered_in_total)

The total quantity of food items ordered is: 4972

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

In [11]:
df['unit_price'] = df['unit_price'].str.replace('$', '', regex=False).astype(float)

total_income = (df['quantity'] * df['unit_price']).sum()
print("The total income from food items ordered is:", total_income,"$")

The total income from food items ordered is: 39237.02 $

<b>Exercise 9. Find the total number of orders.</b>

In [12]:
print("The total number of food orders is:", len(df))

The total number of food orders is: 4622

<b>Exercise 10. Find the average income for each order?</b>

In [13]:
avg = avg = total_income / len(df)
print("The average income per order is:", avg.round(2), "$")

The average income per order is: 8.49 $

<b>Exercise 11. How many different foods are ordered?</b>

In [14]:
different_foods = order_list['food'].nunique()
print("The number of different food items ordered is:", different_foods)

The number of different food items ordered is: 50